USE [master]
GO
/****** Object:  Database [TestDB]    Script Date: 22-01-2026 15:38:54 ******/
CREATE DATABASE [TestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestDB]
GO
/****** Object:  Table [dbo].[CopyTbl]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CopyTbl](
	[Name] [char](50) NULL,
	[Age] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Segment] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentMode] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestTbl]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTbl](
	[Name] [char](50) NULL,
	[Age] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CopyTbl] ([Name], [Age]) VALUES (N'Aarav                                             ', N'23        ')
INSERT [dbo].[CopyTbl] ([Name], [Age]) VALUES (N'Kamal                                             ', N'22        ')
INSERT [dbo].[CopyTbl] ([Name], [Age]) VALUES (N'Igloo                                             ', N'19        ')
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (101, N'Gopi Suresh', N'Coimbatore', N'Retail', 1, CAST(N'2025-11-12' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (102, N'Anita Ravi', N'Chennai', N'Corporate', 1, CAST(N'2025-10-05' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (103, N'Karthik Mohan', N'Bengaluru', N'Retail', 1, CAST(N'2025-09-15' AS Date))
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5001, 101, CAST(N'2026-01-10' AS Date), CAST(1200.00 AS Decimal(10, 2)), N'Delivered', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5002, 101, CAST(N'2026-01-15' AS Date), CAST(850.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerId], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (5003, 102, CAST(N'2026-01-05' AS Date), CAST(5000.00 AS Decimal(10, 2)), N'Delivered', N'Card')
GO
INSERT [dbo].[TestTbl] ([Name], [Age]) VALUES (N'Aarav                                             ', N'23        ')
INSERT [dbo].[TestTbl] ([Name], [Age]) VALUES (N'rahul                                             ', N'33        ')
INSERT [dbo].[TestTbl] ([Name], [Age]) VALUES (N'Igloo                                             ', N'19        ')
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PhoneNumber]) VALUES (1, N'Amit', N'Singh', N'amit@gmail.com', N'9999999999')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PhoneNumber]) VALUES (2, N'Rahul', N'Singh', N'rahul@gmail.com', N'8888888888')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [Email], [PhoneNumber]) VALUES (3, N'Neha', N'Sharma', N'neha@gmail.com', N'7777777777')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534777105CF]    Script Date: 22-01-2026 15:38:54 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[myPractice]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[myPractice]
--optional or parameters
@OrderId int 
as begin
select * from Orders where OrderId = @OrderId
end;

GO
/****** Object:  StoredProcedure [dbo].[SP_CreateUserTable]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[SP_CreateUserTable]
as begin
CREATE TABLE Userss
(
    UserId INT NOT NULL PRIMARY KEY,  -- Manual PK
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    Email NVARCHAR(255) NOT NULL UNIQUE,
    PhoneNumber NVARCHAR(15)
);
end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCustomerByNameAndCity]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Kamaljeet
-- Create date: 22-01-2026
-- Description:	Procedure to retrieve customer details by their name and city
-- =============================================
create procedure [dbo].[SP_GetCustomerByNameAndCity]
--optional or parameters
@FullName varchar(100),
@City varchar(50)
as begin
select * from Customers where FullName = @FullName and City = @City
end;


GO
/****** Object:  StoredProcedure [dbo].[SP_InsertIntoUserTable]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[SP_InsertIntoUserTable]
    @UserId int ,
    @FullName varchar(100),
    @LastName varchar(100),
    @Email varchar(510),
    @PhoneNumber varchar(30)
as
begin
    INSERT INTO Users
        (UserId,FirstName, LastName, Email, PhoneNumber)
    VALUES
        (@UserId, @FullName, @LastName, @Email, @PhoneNumber)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateNameAndAgeByName]    Script Date: 22-01-2026 15:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateNameAndAgeByName]
@Name char(50)
as BEGIN
update TestTbl 
set Name='Kamal',Age=26 
where Name=@Name
end;
GO
USE [master]
GO
